.footer__author {
font-weight: normal;
font-size: 14px;
line-height: 1.14;
text-align: right;
margin: 0;
justify-self: center;
}

@media screen and (max-width: 767px) {
  .footer__author {
  margin: 8px 16px 0;
  }
}
