.place__link {
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    align-self: end;
    text-decoration-line: underline;
    color: #fff;
    cursor: pointer;
    transition: opacity .4s linear;
    opacity: 1;
}

.place__link:hover {
    transition: .4s;
    opacity: .8;
}
